<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'novo_pet' %}">Novo Pet</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 

        {% comment %} <li class="nav-item active">
          <a class="nav-link" href="{% url 'novo_pet' %}">Novo Pet </a>
        </li> {% endcomment %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'seus_pets' %}">Seus Pets</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_pets' %}">Adotar</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ver_pedido_adocao' %}">Pedido de Adoção</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sair' %}">Sair</a>
        </li>

      </ul>
      {% comment %} <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> {% endcomment %}
      {% comment %} ver_pedido_adocao {% endcomment %}
    </div>
  </nav>
